.header {
    background-color: var(--vidget-color1);
    box-shadow: var(--box-shadow);
    height: 65px;
}

.header ul {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 25px;
}

.header > ul > *:last-child {
    margin-left: auto;
    margin-right: 15px;
}

button:has(img) {
    background: transparent;
    height: 100%;
}

img {
    height: 75%;
}