.header {
    background-color: var(--vidget-color1);
    box-shadow: var(--box-shadow);
    height: 65px;
}

.header ul {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 25px;
}

.header > ul > *:last-child {
    margin-left: auto;
    margin-right: 15px;
}

.link__home {
    font-size: 32px;
    font-weight: bold;
}