.container {
    width: calc(100vw - 400px);
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
}

.no__chat__info {
    border-radius: var(--border-radius);
    background-color: color-mix(in srgb, var(--vidget-color1) 70%, transparent);
    color: var(--text-color);
    width: max-content;
    padding: 5px;
}

.container:has(.no__chat__info) {
    display: flex;
    align-items: center;
    justify-content: center;
} 