.container {
    width: 400px;
    height: max-content;
    overflow: auto;
    border-right: var(--border-color) 1px solid;
}

.chat {
    height: 75px;
    display: flex;
    padding: 5px;
    padding-left: 15px;
    align-items: center;
    justify-content: left;
    gap: 13px;
    color: var(--text-color);
    width: 100%;
    transition: background-color 0.1s ease-in;
    border-radius: 0;
    background: transparent;
}

.text__info {
    text-align: left;
}

.selected__chat {
    background-color: color-mix(in srgb, var(--vidget-color3) 80%, transparent);
}

.separated__label {
    background-color: var(--vidget-color2);
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}