.message {
    --own-color: var(--vidget-color1);

    background-color: var(--vidget-color1);
    min-width: 40px;
    max-width: 350px;
    width: fit-content;
    padding-bottom: 5px;
    margin-top: 10px;
    border-radius: var(--border-radius);
}

.author {
    margin: 10px;
    margin-bottom: 0;
    color: var(--author-color);
}

.my__message {
    margin-left: auto;
}

.other__message {}

.replied__section {
    background-color: var(--vidget-color3);
    padding: 10px;
    border-radius: var(--border-radius);
    border: var(--vidget-color1) 5px solid;
    border-bottom: none;
    cursor: pointer;
}

.original__author {
    color: var(--author-color)
}

.original__text {
    font-size: 14px;
    margin-top: 5px;
}

.content__message {
    display: flex;
    gap: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 5px;
}

.content__message > *:nth-child(2){
    margin-left: auto;
    padding-left: 5px;
}

.text {
    margin-bottom: 3px;
}

.mark_info {
    font-size: 12px;
    margin-top: auto;
    display: block;
    width: min-content;
    color: gray;
}